// 尺寸配置
$bar_height: 34px;
$element_height: 22px;

//theme-dark

$bgc_dark: rgb(40 40 40 / 59%);
$border_color_dark: #353739;

// theme-light
$bgc_light: rgba(255, 255, 255);
$border_color_light: #6b6b6b33;
