.tui-image-editor-main-container {
  //   background-color: var(--color-secondary) !important;
  //   background-color: rgb(var(--gray-1)) !important;
  background-color: var(--color-fill-2) !important;
}

.tui-image-editor-header {
  display: none !important;
}

.tui-image-editor-controls {
  background-color: var(--color-fill-2) !important;
  border-left: 1px solid var(--color-neutral-3) !important;
}

.tui-image-editor-submenu {
  height: 100% !important;

  //   background-color: var(--color-secondary) !important;
  border-left: 1px solid var(--color-neutral-3) !important;

  .tui-image-editor-button > label {
    color: var(--color-text-1) !important;
    font-weight: bold !important;
  }
}

.tui-image-editor-container .tui-image-editor-main {
  top: 0 !important;
}

.tui-image-editor-submenu-style {
  height: 100% !important;
  background-color: transparent !important;
}

.tui-image-editor-help-menu {
  left: 0 !important;
  width: 64px !important;
  height: 100% !important;
  padding-top: 10px !important;
  background: transparent !important;

  .tui-image-editor-item[tooltip-content]::after {
    left: 34px !important;
  }

  //   background-color: var(--color-fill-2) !important;

  border-right: 1px solid var(--color-neutral-3) !important;
  border-radius: 0 !important;

  .tui-image-editor-item:has(.tui-image-editor-icpartition) {
    display: none !important;
  }

  .tui-image-editor-item[tooltip-content="历史"] {
    display: none !important;
  }

  .tui-image-editor-item[tooltip-content="删除"] {
    display: none !important;
  }

  .tui-image-editor-item[tooltip-content="全部删除"] {
    display: none !important;
  }
}

.use-default {
  fill: var(--color-text-1) !important;
  stroke: var(--color-text-1) !important;
}

.normal.use-default {
  fill: var(--color-text-1) !important;
  stroke: var(--color-text-1) !important;
}

.hover.use-default {
  fill: rgb(var(--primary-6)) !important;
  stroke: rgb(var(--primary-6)) !important;
}

.tui-image-editor-container .tui-image-editor-menu > .tui-image-editor-item.active,
.tui-image-editor-container .tui-image-editor-help-menu > .tui-image-editor-item.active {
  background-color: rgb(var(--primary-6));

  .use-default {
    fill: #fff !important;
    stroke: #fff !important;
  }
}

.action {
  display: flex !important;
  grid-gap: 10px;
  justify-content: center;
  color: var(--color-text-1) !important;

  //   background-color: red !important;

  .tui-image-editor-button {
    display: flex !important;
    align-items: center;
    margin: 0 !important;
    padding: 0 15px;
    background-color: rgb(var(--primary-6));
    border-radius: var(--border-radius-small);

    /* stylelint-disable-next-line selector-class-pattern */
    .svg_ic-menu {
      display: none;
    }

    label {
      color: #fff !important;
      font-weight: normal !important;
      font-size: 14px;
      line-height: 28px;
    }
  }
}

.tui-image-editor-partition {
  div {
    border-bottom: 1px solid var(--color-neutral-3) !important;
  }
}

.tui-image-editor-newline {
  /* stylelint-disable-next-line no-descending-specificity */
  label {
    margin: 0 !important;
    color: var(--color-text-1) !important;
  }
}
